header{
    background-color: #cccfff;
}
main{
    background-color: #fcebbe;
}
footer{
    background-color: #754c00;
}
h2{
    background-color: #666666;
}
p{
    background-color: #f6fe00;
}
div{
    background-color: #8cc63f;
}
article{
    border:  #f79300; 
}
section{
    border: #009200 ;
}


